/* Medium device */
@media screen and (max-width: 992px) {
  .screen-size {
    padding: 0px 20px;
  }
  .banner {
    flex-direction: column;
  }
  .banner-texts,
  .banner-img {
    width: 100%;
  }
  .banner-img {
    margin-top: 20px;
    justify-content: center;
  }
  .btn-container {
    padding-right: 0px;
  }
  .btn-500 {
    right: 150px;
    top: 50px;
  }
  .btn-350 {
    bottom: 250px;
    left: 140px; 
  }
  .habits {
    grid-template-columns: repeat(2, 1fr);
  }
  .habit-img {
    margin-bottom: 2.2rem;
  }
  .extra-miles-container {
    margin-top: 5.25rem;
  }
  .extra-miles {
    gap: 0rem;
    justify-content: space-between;
  }
  .extra-miles-contents > button {
    width: 85%;
  }
}

/* Small device */
@media screen and (max-width: 576px) {
  .hamburger-menu {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .banner-title {
    font-size: 2.25rem;
  }
  .btn-500 {
    right: 10px;
    top: 30px;
  }
  .btn-350 {
    bottom: 250px;
    left: 40px;
  }
  .habits {
    grid-template-columns: repeat(1, 1fr);
  }
  .extra-miles {
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    padding: 2rem;
  }
  .extra-miles-contents {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    place-items: center;
  }
  .extra-miles-contents > button {
    width: 90%;
  }
  .extra-miles-img{
    width: 100%;
  }
}
